<!DOCTYPE html class="scroll-smooth">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Peminjaman Ruangan FTK</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,400&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-blue-400 font-Poppins">
    <div class="lg:flex">
        <div class="text-white hidden lg:block lg:mx-auto lg:mt-28 lg:ml-60 lg:-mr-20"> <!--Responsive-->
            <span><h1 class="text-4xl font-bold mb-3">Sistem</h1></span>
            <span><h1 class="text-4xl font-bold mb-3">Peminjaman</h1></span>
            <span><h1 class="text-4xl font-bold mb-4">Ruangan</h1></span>
            <h3 class="text-lg mt-1 font-bold mb-4">Fakultas Teknik dan Kejuruan</h3>
            <p class="text-xs max-w-[300px] leading-5">Jika anda memiliki pertanyaan atau kendala bisa menghubungi kontak dibawah</p>
            <div class="flex flex-row p-4">
                <div >
                    <a href="#"><span class="w-11"><i class="fa-solid fa-phone"></i></span></i></a>
                </div>
                <div>
                    <a href="#"><h4 class="text-xs ml-2">ftk@undiksha.ac.id</h4></a>
                </div>
            </div>
            <div class="flex flex-row p-4 -mt-3">
                <div >
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div>
                    <a href="#"><h4 class="text-xs ml-2">(+62)81238396581</h4></a>
                </div>
            </div>
            <div class="flex flex-row p-4 -mt-3">
                <div >
                    <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                </div>
                <div>
                    <a href="#"><h4 class="text-xs ml-2 max-w-[250px] leading-5">Jl. Udayana Banjar Tegal, Kec. Buleleng, Kabupaten Buleleng</h4></a>
                </div>
            </div>


            
        </div>
        <div class="text-white ml-14 my-4 font-bold lg:hidden"> <!--Judul-->
            <span><h1 class="text-2xl">Sistem</h1></span>
            <span><h1 class="text-2xl">Peminjaman</h1></span>
            <span><h1 class="text-2xl">Ruangan</h1></span>
            <h3 class="text-xs mt-1">Fakultas Teknik dan Kejuruan</h3>
        </div>
        <div class="bg-[#F2F1FA] w-80 mx-auto  rounded-lg p-5 lg:w-96 lg:mt-12 shadow-md lg:shadow-xl lg:p-7"> <!--Form-->
            <h2 class="text-[#60A5FA] font-bold text-2xl">Sign Up</h2>
            <p class="mt-1 text-[13px]">Silakan isi data dibawah ini dengan benar</p>
            <form class="mt-4" action="">
                <label class="text-sm font-bold text-[#60A5FA]" for="nama">Nama</label><br>
                <input class="p-2 text-[12px] mb-3 mt-1 w-full  rounded-md " placeholder="I Komang Wahyu Ambara Putra" type="text" id="nama" name="nama"><br>

                <label class=" text-sm font-bold text-[#60A5FA]" for="email">Email</label><br>

                <input class="mb-3 mt-1 w-full  rounded-md p-2 text-[12px]" placeholder="komang@gmail.com" type="email" id="email" name="email"><br>

                <label class="text-sm font-bold text-[#60A5FA]" for="telepon">Telepon</label><br>
                <input class="p-2 text-[12px] mb-3 mt-1 w-full  rounded-md" type="text" placeholder="0826783783" id="telepon" name="telepon"><br>

                <div class="grid grid-cols-2 gap-2 mb-1">
                    <div>
                        <label class="text-sm font-bold text-[#60A5FA]" for="password">Password</label><br>
                        <input class="p-2 text-[12px]  mt-1 w-full  rounded-md" placeholder="*********" type="text" id="password" name="password"><br>
                    </div>
                    <div>
                        <label class="text-sm font-bold text-[#60A5FA]" for="cpassword">Confirm Password</label><br>
                        <input class="p-2 text-[12px]  mt-1 w-full rounded-md"  placeholder="*********" type="text" id="cpassword" name="cpassword"><br>
                    </div>
                </div>

                <button class="hover:bg-blue-500 bg-b1 text-white text-[15px] font-bold py-2 px-4 rounded-md w-full mt-4 mb-2 " type="submit">Sign Up</button>
            </form>
            <p class="text-[13px] ">Sudah punya akun? Sign In dibawah ini</p>
            <a class="text-[13px] text-b1 underline " href="#"><p>Sign In</p></a>
        </div>
        
    </div>
</body>
</html>